.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  font-size: calc(5px + 2vmin);
  color: white;
  background-color: #071419;
}

/* .App-header {
    width: 100vw;
    height: max(100vh, fit-content);
    
    position: relative;

    
} */