.itTitle {
    position: relative;
    margin: 0;

    width: fit-content;
    height: 12%;

    color: white;
}

.consCell {
    border: none;
    box-sizing: border-box;
    width: 100%;

    background-color: transparent;
    color: white;
}

.inputTable {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 8px; 

}